<!DOCTYPE HTML>
<html>
<head>
   <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    
   
   <!-- CSS files -->
   <link rel="stylesheet" href="css/animate.css">
   <link rel="stylesheet" href="css/icomoon.css">
   <link rel="stylesheet" href="css/ionicons.min.css">
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="css/flexslider.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="css/bootstrap-datepicker.css">
   <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
   <link rel="stylesheet" href="css/style.css">

   <style>
      /* Navbar Styling */
      .colorlib-nav {
         background-color: rgb(4, 4, 4);
         padding: 1px 0; /* Reduce the height */
      }
   
      .colorlib-nav .menu-1 ul {
         display: flex;
         justify-content: space-between; /* Distribute items in one line */
         align-items: center;
         list-style: none;
         margin: 0;
         padding: 0;
      }
   
      .colorlib-nav .menu-1 ul li {
         margin: 0 15px; /* Add spacing between items */
      }
   
      .colorlib-nav .menu-1 ul li a {
         color: white;
         text-decoration: none;
         font-size: 14px;
         font-weight: 500;
      }
   
      .colorlib-nav .menu-1 ul li a:hover {
         text-decoration: underline;
      }
   
      .colorlib-nav #colorlib-logo a {
         color: white;
         font-size: 20px;
         font-weight: bold;
         text-decoration: none;
      }
   
      .colorlib-nav .search-wrap .form-control {
         height: 30px; /* Adjust input height */
         font-size: 14px;
         color: black;
      }
   
      .colorlib-nav .search-wrap .submit-search {
         background-color: white;
         border: none;
         color: black;
         font-size: 14px;
      }
   
      /* Dropdown Styling */
      .dropdown-content {
         background-color: black;
         border: 1px solid white;
      }
   
      .dropdown-content a {
         color: white;
      }
   
      .dropdown-content a:hover {
         background-color: grey;
      }
   
      /* Icon Styling */
      .menu-1 ul li i,
      .menu-1 ul li img {
         color: white;
         width: 25px;
         height: auto;
      }
   
      /* Wishlist Icon */
      .wishlist img {
         filter: brightness(0) invert(1); /* Make it white */
      }
   </style>
   

</head>
<body>
   
   <div class="colorlib-loader"></div>

   <div id="page">
      <nav class="colorlib-nav" role="navigation">
         <div class="top-menu">
            <div class="container">
               <div class="row">
                  <div class="col-sm-7 col-md-9">
                     <div id="colorlib-logo"><a href="/">Cutee Paws</a></div>
                  </div>
                  <!-- <div class="col-sm-5 col-md-3">
                     <form action="#" class="search-wrap">
                        <div class="form-group">
                           <input type="search" class="form-control search" placeholder="Search">
                           <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                        </div>
                     </form>
                  </div> -->
               </div>
               <div class="row">
                  <div class="col-sm-12 text-left menu-1">
                     <!-- Main navigation items -->
                     <ul class="main-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <!-- <li class="has-dropdown"> -->
                           <!-- <a href="men.html">Pages</a>
                           <ul class="dropdown">
                              <li><a href="product-detail.html">Product Detail</a></li>
                              <li><a href="cart.html">Shopping Cart</a></li>
                              <li><a href="checkout.html">Checkout</a></li>
                              <li><a href="order-complete.html">Order Complete</a></li>
                           </ul> -->
                        </li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/about">About</a></li>
                         <li class="contact-nav"><a href="/contact">Contact</a></li><li>
                           <a href="/cartPage"><i class="icon-shopping-cart" style="font-size: 25px;"></i></a></li>
                           <a href="/wallet"><i class="fa-solid fa-wallet" style="font-size: 25px;"></i></a>


                       				<li class="wishlist">
													<a href="/wishlist">
															<img src="images/wishlist.webp" alt="Wishlist" style="width: 25px; height: auto;">
													</a>
												</li>
                                   


								<div class="dropdown">
                           <% if (user) { %>
                              <li> <%= user.name %></li>
                              <li><a href="/profile">Profile</a></li>
                              <!-- <li><a href="/logout">Logout</a></li> -->
                            <% } else { %>
                              <li><a href="/login">Login</a></li>
                              <li><a href="/signup">Signup</a></li>

                            <% } %>
</div>

                        
                     </ul>
                     
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </div>

   <!-- Add your other content here -->

</body>
</html>
