<!DOCTYPE HTML>
<html>
<head>
   <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
   
   <!-- CSS files -->
   <link rel="stylesheet" href="css/animate.css">
   <link rel="stylesheet" href="css/icomoon.css">
   <link rel="stylesheet" href="css/ionicons.min.css">
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="css/flexslider.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="css/bootstrap-datepicker.css">
   <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
   <link rel="stylesheet" href="css/style.css">

   <style>
      /* Custom CSS for Navbar */
      .menu-1 {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      .menu-1 .main-nav {
         display: flex;
         gap: 70px;
      }
      .menu-1 .right-nav {
         display: flex;
         gap: 15px;
         font-size: 12px;
         font-weight: bold;
         align-items: center;
      }
      .menu-1 .right-nav a {
         text-decoration: none;
         color: black;
         padding: 5px 8px;
      }
      .menu-1 .right-nav .wishlist img {
         width: 18px;
         height: 18px;
      }
      .menu-1 .contact-nav {
         margin-right: 20px; /* Space after Contact */
      }
      .menu-1 .contact-nav + li {
         margin-left: 20px; /* Space before Cart */
      }

      .dropdown{
         position: relative;
         display: inline-block;}

      .dropdown-content{
         display:none;
         position: absolute;
         background-color: yellowgreen;
         min-width: 160px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index:1000;
         right: 0;
      }

      .dropdown-content a{
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         width:100%;
      }
      .dropdown-content a:hover{
         background-color: aliceblue;

      }
      .dropdown:hover.dropdown-content{
         display: block;
      }
      .header{
         position: relative;
         z-index: 500;

      }

   </style>
   

</head>
<body>
   
   <div class="colorlib-loader"></div>

   <div id="page">
      <nav class="colorlib-nav" role="navigation">
         <div class="top-menu">
            <div class="container">
               <div class="row">
                  <div class="col-sm-7 col-md-9">
                     <div id="colorlib-logo"><a href="/">Cutee Paws</a></div>
                  </div>
                  <div class="col-sm-5 col-md-3">
                     <form action="#" class="search-wrap">
                        <div class="form-group">
                           <input type="search" class="form-control search" placeholder="Search">
                           <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12 text-left menu-1">
                     <!-- Main navigation items -->
                     <ul class="main-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <!-- <li class="has-dropdown"> -->
                           <!-- <a href="men.html">Pages</a>
                           <ul class="dropdown">
                              <li><a href="product-detail.html">Product Detail</a></li>
                              <li><a href="cart.html">Shopping Cart</a></li>
                              <li><a href="checkout.html">Checkout</a></li>
                              <li><a href="order-complete.html">Order Complete</a></li>
                           </ul> -->
                        </li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/about">About</a></li>
                         <li class="contact-nav"><a href="/contact">Contact</a></li><li>
                           <a href="/cartPage"><i class="icon-shopping-cart" style="font-size: 25px;"></i></a></li>

                       				<li class="wishlist">
													<a href="/wishlist">
															<img src="images/wishlist.webp" alt="Wishlist" style="width: 25px; height: auto;">
													</a>
												</li>
								<div class="dropdown">
                           <% if (user) { %>
                              <li> <%= user.name %></li>
                              <li><a href="/profile">Profile</a></li>
                              <li><a href="/logout">Logout</a></li>
                            <% } else { %>
                              <li><a href="/login">Login</a></li>
                              <li><a href="/signup">Signup</a></li>

                            <% } %>
</div>

                        
                     </ul>
                     
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </div>

   <!-- Add your other content here -->

</body>
</html>
