
<%-include("../../views/partials/admin/header.ejs")%>
    <div class="main-content">
        <div class="header">
            <h1>Dashboard</h1>
          
            
           
        </div>

        <div class="cards">
            <h1>welcome to the dashborad</h1>
            <!-- <div class="card">
                <h3>Total Sales</h3>
                <p>$5,000</p>
            </div>
            <div class="card">
                <h3>Total Customers</h3>
                <p>350</p>
            </div>
            <div class="card">
                <h3>Total Products</h3>
                <p>120</p>
            </div>
            <div class="card">
                <h3>New Orders</h3>
                <p>75</p>
            </div>
        </div> -->
    </div>

    <%-include("../../views/partials/admin/footer.ejs")%>