
<%-include("../../views/partials/user/header.ejs")%>
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>About</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-6 mb-3">
						<!-- <div class="video colorlib-video" style="background-image: url(images/about.jpg);">
							<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
							<div class="overlay"></div>
						</div> -->
						<div>
							<img src="images/logo.png">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-wrap">
							<h2>cutee paws</h2>
							<p>Welcome to Cutee Paws, your trusted destination for quality dog products tailored for dog lovers! At Cutee Paws, we believe that our furry friends deserve only the best. That's why we are committed to offering a wide range of premium products designed to keep your dog happy, healthy, and stylish. From nutritious food and reliable medicine to fun toys and trendy accessories, each item on our website is carefully selected for quality and safety. Join us in giving your dog the love they deserve with trusted brands and products made just for them!</p>
								</div>
					</div>
				</div>
			</div>
		</div>

    <%-include("../../views/partials/user/footer.ejs")%>

		


